* {
  margin: 0;
  padding: 0;
  /* border: 0; */
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #dad7cd;
}

.nav-links {
  gap: 1.5rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181, 181, 181);
}

.feeds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-header {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.post-interaction {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 0;
}
