* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* border: 0; */
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #dad7cd;
}

.nav-links {
  gap: 1.4rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
}

/* Logo customize and size */
#logo {
  height: 10vh;
  width: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* FEEDS AND POSTS STYLING */

.feeds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-header {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.post-interaction {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 0;
}

/* Hamburger menu */

#hamburger-nav {
  display: none;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}