* {
  margin: 0;
  padding: 0;
  /* border: 0; */
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 1.5rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.main-panel {
  display: flex;
  width: 100%;
}

.panel {
  text-align: center;
}

.side-panel {
  flex: 1;
  /* flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 10px;
  width: 50px; */
}

.mid-panel {
  max-width: 500px;
  flex-grow: 1.5;
}

.button-container {
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
  gap: 5px; /* Space between buttons */
  min-width: 0;
}

.button-container button {
  width: 30%; 
  word-wrap: break-word;
  white-space: normal;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.comm-hubs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-forums .card {
  display: flex;
}

.posts {
  display: flex;
}

.new-posts {
  display: flex;
}
