* {
  margin: 0;
  padding: 0;
}

/* DESKTOP NAV */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 1.5rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.main-panel {
  display: flex;
}

.page-tabs {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.comm-hubs {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.class-forums .card{
  display: flex;
}

.posts {
  display: flex;
}

.new-posts {
  display: flex;

}